<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemImage</key>
			<string>被子1</string>
			<key>itemTitle</key>
			<string>大豆纤维被子春秋被芯四季通用</string>
			<key>itemSubtitle</key>
			<string>填充：聚酯纤维（中空）</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥119.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>被子2</string>
			<key>itemTitle</key>
			<string>夏天水洗棉夏被</string>
			<key>itemSubtitle</key>
			<string>填充：聚酯纤维（中空）</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥49.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>被子3</string>
			<key>itemTitle</key>
			<string>加厚保暖四季通用空调被芯太空被</string>
			<key>itemSubtitle</key>
			<string>填充：聚酯纤维（七孔）</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥99.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>被子4</string>
			<key>itemTitle</key>
			<string>珊瑚绒牛奶绒毛夏天毯子薄款</string>
			<key>itemSubtitle</key>
			<string>布料：珊瑚绒</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥19.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>被子5</string>
			<key>itemTitle</key>
			<string>加厚水洗棉冬被芯保暖春秋棉被</string>
			<key>itemSubtitle</key>
			<string>填充：聚酯纤维（七孔）</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥129.00</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemImage</key>
			<string>枕套5</string>
			<key>itemTitle</key>
			<string>一对装可机洗枕头枕芯</string>
			<key>itemSubtitle</key>
			<string>填充物: 其他/other</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥36.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>枕套4</string>
			<key>itemTitle</key>
			<string>一对装纯棉水洗棉枕</string>
			<key>itemSubtitle</key>
			<string>填充：记忆棉（聚氨酯）</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥49.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>枕套3</string>
			<key>itemTitle</key>
			<string>日式水洗纯棉格子枕头套48*74cm</string>
			<key>itemSubtitle</key>
			<string>布料：棉</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥38.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>枕套2</string>
			<key>itemTitle</key>
			<string>高支高密全棉枕芯羽丝绒护颈枕头</string>
			<key>itemSubtitle</key>
			<string>填充物: 涤纶（聚酯纤维）</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥59.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>枕套1</string>
			<key>itemTitle</key>
			<string>抱枕被子两用公仔</string>
			<key>itemSubtitle</key>
			<string>填充：棉</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥79.00</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemImage</key>
			<string>床垫5</string>
			<key>itemTitle</key>
			<string>1.8加厚床垫海绵软垫</string>
			<key>itemSubtitle</key>
			<string>填充物: 其他/other</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥36.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床垫4</string>
			<key>itemTitle</key>
			<string>60支贡缎床笠纯棉床垫保护罩</string>
			<key>itemSubtitle</key>
			<string>填充：聚氨酯</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥69.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床垫3</string>
			<key>itemTitle</key>
			<string>防水床笠单件纯棉床套床罩</string>
			<key>itemSubtitle</key>
			<string>材质: 棉</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥69.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床垫2</string>
			<key>itemTitle</key>
			<string>乳胶床垫软垫加厚记忆棉海绵垫</string>
			<key>itemSubtitle</key>
			<string>填充物: 其他/other</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥139.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床垫1</string>
			<key>itemTitle</key>
			<string>床垫软垫席梦思海绵垫</string>
			<key>itemSubtitle</key>
			<string>填充物: 其他/other</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥139.00</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemImage</key>
			<string>床品5</string>
			<key>itemTitle</key>
			<string>夏季真丝四件套冰丝</string>
			<key>itemSubtitle</key>
			<string>材质: 其他/other</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥139.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床品4</string>
			<key>itemTitle</key>
			<string>亚麻水洗棉四件套棉麻</string>
			<key>itemSubtitle</key>
			<string>材质： 其他/other</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥138.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床品3</string>
			<key>itemTitle</key>
			<string>全棉四件套床上用品三件套</string>
			<key>itemSubtitle</key>
			<string>材质: 棉</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥129.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床品2</string>
			<key>itemTitle</key>
			<string>冰丝欧式丝滑绸缎四件套</string>
			<key>itemSubtitle</key>
			<string>材质: 贡缎</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥159.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>床品1</string>
			<key>itemTitle</key>
			<string>水洗棉四件套公主风</string>
			<key>itemSubtitle</key>
			<string>材质: 棉</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥179.00</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemImage</key>
			<string>夏凉5</string>
			<key>itemTitle</key>
			<string>学生宿舍蚊帐免安装蒙古包0.9m</string>
			<key>itemSubtitle</key>
			<string>门数: 3门</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥128.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>夏凉4</string>
			<key>itemTitle</key>
			<string>床帘蚊帐一体式上下铺支架床幔女</string>
			<key>itemSubtitle</key>
			<string>门数: 3门</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥129.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>夏凉3</string>
			<key>itemTitle</key>
			<string>免安装蒙古包蚊帐加密1.8m床家用</string>
			<key>itemSubtitle</key>
			<string>门数: 双门</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥89.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>夏凉2</string>
			<key>itemTitle</key>
			<string>冰丝凉席三件套1.8m床藤席可折叠</string>
			<key>itemSubtitle</key>
			<string>材质: 纤维素材料(再生纤维素纤维)</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥80.00</string>
		</dict>
		<dict>
			<key>itemImage</key>
			<string>夏凉1</string>
			<key>itemTitle</key>
			<string>蚊帐家用坐床式厚纱加厚床宫廷</string>
			<key>itemSubtitle</key>
			<string>材质: 棉</string>
			<key>itemSales</key>
			<string>月销1206</string>
			<key>itemPrice</key>
			<string>¥179.00</string>
		</dict>
	</array>
</array>
</plist>
